<%= render template: 'navbar/index' %>
<h1>Notes</h1>
<br>
<%= link_to 'New Note', new_note_path %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'first page |', notes_path %>
<%= link_to 'prev page |', notes_path(page: @page - 1) if @page > 0 %>
<b>Page:<%= @page %></b> |
<%= link_to 'next page', notes_path(page: @page + 1) %>
<%= link_to '| show all', notes_path(show_all: true) unless @show_all %>
