<%= render template: 'navbar/index' %>
<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Description:</strong>
  <%# @note.body.body.attachments.first[:filename].blank? %>
  <div data-controller="richtext">
  <%= @note.body %>
  </div>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
