<%= render template: 'navbar/index' %>
<h1>Blogs</h1>
<br>
<%= link_to 'New Blog', new_blog_path %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.url %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'first page |', blogs_path %>
<%= link_to 'prev page |', blogs_path(page: @page - 1) if @page > 0 %>
<b>Page:<%= @page %></b> |
<%= link_to 'next page', blogs_path(page: @page + 1) %>
<%= link_to '| show all', blogs_path(show_all: true) unless @show_all %>
