<%= render template: 'navbar/index' %>
<%= form_with(url: send_email_careers_path(id: @career.id), method: "post") do |form| %>
  <%= form.text_field :email, placeholder: 'My Email' %>
  <%= form.submit "Send" %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @career.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @career.body %>
</p>

<p><strong>Comments</strong></p>

<ul>
  <% @career.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      <%= link_to comment_path(comment), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render 'comments/form', comment: @comment %>

<%= link_to 'Edit', edit_career_path(@career) %> |
<%= link_to 'Back', careers_path %>
